<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="fixed">NombreProducto</ion-label> 
    <ion-input placeholder="Escribe el nombre" [(ngModel)]="name"required></ion-input>
  </ion-item>

  <ion-item lines="nones">
    <ion-label position="fixed">Age</ion-label> 
    <ion-input [(ngModel)]="age" type="number" ></ion-input> 
  </ion-item>  

  <ion-button color="success" expand="full" (click)="addPerson(name)">Añadir</ion-button> 

  <div>
    <ion-text id="empty-list" color="primary" *ngIf="people.length == 0">No existen personas por ahora</ion-text>
  </div>

  <!--Podemos insertar el componente ya que lo hemos declarado en nuestro home.module-->
  <!--Gracias al ngFor podemos repetir el trozo de html que queramos -->
    <app-person *ngFor="let person of people" [data]= "person" (onremove)="($event)"></app-person>
    
</ion-content>
